/* some style */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}
.canvas {
  width: 100vw;
  height: 100vh;
}

.interface {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 45em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  transition: transform 200ms ease-in;
  transform: translateX(104%);
}

.interface label {
  color: #333;
}

.interface.is-active {
  transform: translateX(0);
}

.interface textarea {
  display: block;
  width: 100%;
  box-shadow: #333 0px 0px 1px;
}

.interface .shader {
  height: 60vh;
  padding: 1rem;
  font-family: Monaco, monospace;
  border: none;
  margin-bottom: 1rem;
}

.interface .uniforms {
  height: 25vh;
  padding: 1rem;
  font-family: Monaco, monospace;
  border: none;
}

.interface button {
  position: absolute;
  left: -5rem;
  top: 1rem;
  width: 5rem;
  height: 5rem;
  border: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  opacity: 0.5;
  background-color: rgba(255, 255, 255, 1.0);
  background-image: url(/assets/arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  text-indent: 150%;
  overflow: hidden;
  transform: rotateY(180deg);
  transition: background-color 200ms linear, transform 400ms ease-out;
}

.is-active button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: rotateY(0deg);
}

.interface button:hover,
.interface button:active {
  background-color: rgba(255, 255, 255, 1.0);
  opacity: 0.9;
}
